@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@JsModule("@vaadin/vaadin-charts/theme/vaadin-chart-default-theme")
@CssImport(value = "./styles/my-charts-styles.css", themeFor = "vaadin-chart", include = "vaadin-chart-default-theme")

@media all and (max-width: 1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .contact-grid {
    display: none;
  }
}


a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

 .header-cm {
  background-color: green;
}

.drawer{
	background-color: green;
	color: green;
}